@import url('verse-common.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,700;1,8..60,400&display=swap');

.mbh-content {
  font-family: 'Source Serif 4', Georgia, serif;
  font-size: 1.8em;
  margin-left: 5%;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .mbh-content {
    font-size: 1.3em;
    margin-top: 10%;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .mbh-content {
    font-size: 1.3em;
    margin-left: 0%;
    margin-top: 10%;
  }
}

.footnote-tooltip {
  position: relative;
  display: inline-block;
}

.footnote-tooltip .footnote-tooltip-text {
  visibility: hidden;
  width: 400px;
  background-color: #ffffca;
  color: #000;
  text-align: center;
  font-family: 'Segoe UI';
  font-size: 0.5em;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
  transform: translate(-50%);
  filter: drop-shadow(0px 0px 5px #ccc)
}

.footnote-tooltip .footnote-tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffca transparent transparent transparent;
}

.footnote-tooltip:hover .footnote-tooltip-text {
  visibility: visible;
  opacity: 0.95;
}

.active {
  background-color: var(--theme-color-primary) !important;
  border-color: var(--theme-color-primary) !important;
  color: #fff !important;
}

.list-group-item {
  background-color: var(--theme-color-bg-lighter);
  color: var(--theme-color-text);
}
