:root {
    --theme-color-text: rgb(55, 53, 47);
    --theme-color-navbar: rgb(255, 255, 255);
    --theme-color-bg: rgb(255, 255, 255);
    --theme-color-bg-light: rgb(247, 246, 243);
    --theme-color-bg-lighter: rgb(241, 240, 237);
    --theme-color-bg-lightest: rgb(232, 230, 227);
    --theme-color-primary: rgb(176, 112, 42);
}
